@font-face {
    font-family: nexaBold;
    src: url('../img/NexaBold.otf');
}

@font-face {
    font-family: nexaLight;
    src: url('../img/NexaLight.otf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: nexaBold;
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.header{
    z-index: 4;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#menuOpen{
    margin-left: 40%;
    width: 30px;
    height: 20px;
    z-index: 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
}

#menuOpen span{
    display: block;
    width: 30px;
    height: 4px;
    border-radius: 1000px;
    background: rgb(255, 255, 255);
    z-index: 0;
}

pre{
    overflow-x: scroll;
}

#menuOpen span:nth-child(2){
    width: 20px;
}

#menuOpen span:nth-child(3){
    width: 25px;
}

.arrow-left, .arrow-right {
    display: none;
}

.perfil{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #FF1D25;
    width: 100%;
    height: 230px;
    max-height: 350px;
    z-index: 2;
    top: 0;
    position: absolute;
    text-align: center;
}

.perfilP1{
    color: white;
    margin-top: 20px;
}

.perfilP2{
    font-size: .8em;
    color: saddlebrown;
}

.editPerfil{
    position: absolute;
    width: 100%;
    bottom: -50px;
}

.editPerfil button{
    cursor: pointer;
    font-size: 1em;
    background: white;
    border: none;
    color: #FF696E;
    border-radius: 100px;
    height: 30px;
    width: 80%;
    border: 3px solid #FF696E;
}

.contact{
    height: 30px;
    width: 80%;
    padding: 3.5px;
    border-radius: 100px;
    color: white;
    text-align: center;
    background: linear-gradient(90deg, rgba(213,81,81,1) 0%, rgba(255,116,116,1) 100%);
}

.about{
    height: 30px;
    margin-top: 10px;
    width: 80%;
    padding: .9px;
    border-radius: 100px;
    color: #DC5656;
    text-align: center;
    border: 3px solid #DC5656;
}

#menuDeploy{
    top: 0;
    height: 100%;
    width: 70%;
    background: rgb(255, 255, 255);
    position: fixed;
    left: -100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 1s ease;
    box-shadow: 6px 0px 18px 0px rgba(36, 6, 6, 0.15);
}

.menuExpanded .backMenu{
    transition: .8s;
    z-index: 1;
    background: rgba(255, 255, 255, 0.740);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
}

.menuExpanded #menuDeploy{
    left: 0;
    top: 0;
}

#hamburgerLinks{
    margin: 100% 0 45% 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#hamburgerLinks a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(0, 0, 0);
    font-size: 1em;
    margin: 20px 0 20px 0;
}

.search{
    float: right;
    margin-right: 20px;
}

.carrito{
    float: right;
}

.banner{
    width: 100%;
    max-height: 350px;
}

.title1{
    margin: 2% 0 1% 5%;
    font-size: 1.1em;
    font-family: nexaBold;
}

.sugerencia{
    display: inline-flex;
    flex-direction: row;
    overflow-x: scroll;
    display: block ruby;
    display: -webkit-box;
}

.sugerencia::-webkit-scrollbar {
    -webkit-appearance: none;
}

.sugerenciaCaja{
    color: #47A3A6;
    cursor: pointer;
    font-size: .8em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: nexaBold;
    margin: 0 10px 0 10px;
    width: 150px;
    height: 26px;
    border-radius: 100px;
    background: white;
    border: 2px solid #47A3A6;
}

.select-commerce{
    text-align: center;
    height: 20px;
    width: 60vw;
    max-width: 200px;
    background: #ECECEC;
    color: #636363;
    font-size: .8em;
    border-radius: 100px;
    margin: 5% 0 5% 0;
}

.select-commerce span{
    color: #FF1D25;
}

.product{
    margin-top: 2%;
    width: 100%;
    padding: 0 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.article{
    float: left;
    border-radius: 16px;
    background: #F2F2F2;
    width: 70%;
    height: 100px;
    display: flex;
    flex-direction: row-reverse;
    cursor: pointer;
    transition: .3s cubic-bezier(0.26, 1, 0.6, 1.17);
}

.textContent{
    z-index: 0;
    flex-direction: column;
    position: relative;
    justify-content: center;
}

.article h1{
    font-size: 1em;
    display: inline;
}

.article p{
    display: inline-block;
    font-size: 0.9em;
    font-family: nexaLight;
    color: #858484;
}

.article img{
    width: 100px;
}

.cargar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    float: right;
    width: 30%;
}

.cargar img{
    cursor: pointer;
}

.cargar p{
    cursor: auto;
    color: #16B80A;
    margin: 0;
    font-size: .9em;
}

.bodyNone{
    overflow: hidden;
}

.productExpand{
    transform: translate(0, -100vw);
    width: 100vw;
    height: 100vh;
    position: fixed;
    transition: .3s cubic-bezier(0.26, 1, 0.6, 1.17);
    z-index: 3;
    border-radius: 0;
    padding: 0;
    margin: 0;
    display: block;
    background: white;
    display: flex;
    justify-content: center;
}

.productExpand .article-content {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 92%;
    height: fit-content;
    top: 18%;
}

.productExpand .arrow-left {
    display: block;
    background-image: url(/img/arrow-left.svg);
    width: 20px;
    height: 20px;
}

.productExpand .arrow-right {
    display: block;
    background: red;
    
    border-radius: 10px;
}

.productExpand img {
    width: 180px;
}

.productExpand h1{
    position: fixed;
    top: 10%;
    width: 100%;
    text-align: center;
    font-size: 1.4em;
    right: 0;
}

.productExpand .textContent{
    width: 92%;
    height: fit-content;
    top: 60%;
    display: flex;
    position: absolute;
}

.productBox .cargar {
    transition: .3s cubic-bezier(0.26, 1, 0.6, 1.17);
    z-index: 3;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productBox .cargarButtom {
    background: #47A3A6;
    border-radius: 100px;
    width: 80%;
    height: 50px;
}

.productBox .price {
    color: rgb(255, 255, 255);
    font-size: 1.4em;
    position: absolute;
}

.productBox .price {
    visibility: hidden;
}

.productBox .price:before{
    visibility: visible;
    content: 'Cargar';
    padding: 0 0 0 100px;
}

.productBox{
    margin: 0;
    padding: 0;
}

.colorSwitch span {
    filter: brightness(0.3);
}

.colorSwitch figure {
    filter: brightness(0.3);
    margin: 0 0 0 0;
}

.more{
    width: 100%;
    margin: 5% 0 5% 0;
    display: flex;
    justify-content: center;
    color: black;
    text-decoration: none;
}

.more a{
    padding: 0 6px 0 6px;
    width: fit-content;
    border-radius: 100px;
    background: #ECECEC;
    text-align: center;
    font-size: 1em;
    color: black;
}

.combo{
    margin: 8% 0 1% 5%;
    font-size: 1.1em;
    font-family: nexaBold;
}

.combos{
    display: inline-flex;
    flex-direction: row;
    overflow-x: scroll;
    display: block ruby;
    display: -webkit-box;
}

.combos::-webkit-scrollbar {
    -webkit-appearance: none;
}

.combo-box{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 3% 0 3%;
    width: 230px;
    height: 280px;
    border-radius: 16px;
    background: #F5F5F5;
}

.box-text{
    width: 100%;
    padding: 5% 0 0 5%;
}

.box-text h3{
    font-size: 1em;
}

.box-text p{
    font-size: .8em;
    color: #A2A2A2;
    margin-bottom: 0;
}

.combo-box a{
    border: 3px solid #FF1D25;
    color: #FF1D25;
    font-size: 1em;
    height: 30px;
    width: 60px;
    justify-content: center;
    text-align: center;
    border-radius: 100px;
    display: flex;
    align-items: center;
    float: right;
    margin: 0 10px 0 0;
}

.listo-text{
    margin: 8% 0 1% 5%;
    font-size: 1.1em;
    font-family: nexaBold;
}

.listo-para{
    display: inline-flex;
    flex-direction: row;
    overflow-x: scroll;
    display: block ruby;
    display: -webkit-box;
}

.listo-para::-webkit-scrollbar {
    -webkit-appearance: none;
}

.listo-para-box{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    margin: 0 3% 0 3%;
    width: 260px;
    height: 110px;
    border-radius: 16px;
    background: #36B96A;
    padding: 0 0 0 2%;
}

.listo-para-box h3{
    padding: 5% 0 0 5%;
    float: left;
    font-size: 1em;
    opacity: 80%;
    color: white;
    margin: 0;
}

.listo-arrgelo{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.listo-para-box a{
    display: flex;
    justify-content: center;
    float: right;
    color: white;
    background: #FF1D25;
    border-radius: 100px;
    width: 60px;
    height: 30px;
    margin-top: 40px;
    align-items: center;
}

.yo{
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.yo h1{
    font-size: 1.3em;
    color: #A2A2A2;
    margin: 0;
}

.yo a{
    color: #17D065;
    font-size: 1.2em;
}

.yo img{
    border-radius: 50%;
    width: 2.4em;
    margin-left: 4px;
    margin-bottom: 2px;
}